<h1>View holiday</h1>

<p>
  <strong>Start date</strong>
  <%= @holiday.start_date %>
</p>
<p>
  <strong>End date</strong>
  <%= @holiday.end_date %>
</p>
<p>
  <strong>Comment</strong>
  <%= @holiday.comment %>
</p>